{% load static %}
<html>
    <head>
        <title>Emilian Blogi</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">  
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Emilian Blogi</a></h1>
            <img id="pyy" src="https://images.unsplash.com/photo-1541073166498-8b10d60bd20d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0d304e11019c83a3c0e3d059b502f3a&auto=format&fit=crop&w=600&q=60">
        </div>
            {% for post in posts %}
        <div class="post">
             <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <img id="kahvi" src="https://images.unsplash.com/photo-1541003802905-ffcda6cf1775?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8eb4f42606fe0566eb380db2ec7d537&auto=format&fit=crop&w=600&q=60"
        </div>
            {% endfor %}    
        </div>
    </body>
</html>
